body{
    max-width: 500px;
    margin: 0px auto;
    box-sizing: border-box;
}

/* -----header---- */
header{
    text-align: center;
    padding: 30px 0px;
    color: #2980b9;
    font-family: Impact;
}

header input{
    width: 95%;
    font-size: 1.3em;
    padding: 10px;
    border-radius: 5px;
}
/* ----main----- */
main ul{
    list-style-type: none;
    padding-left: 0;
}

main ul li{
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2em;
}

.delete-btn{
    background-color: #3498db;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

/* ----section----- */
section{
    padding-top: 30px;
}

#add-form{
    display: flex;
}

#add-form input{
    width: 100%;
    padding: 10px;
    font-size: 1.3em;
}

form button{
    background-color: white;
    color: #2980b9;
    font-size: larger;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 3px;
    border: 2px solid #2980b9;
    cursor: pointer;
}